services:
  {{ odoo_service_name }}:
    image: {{ odoo_image }}
    container_name:{{ odoo_service_name }}
    depends_on:
      - {{ odoo_db_service_name }}
    ports:
      - "{{ odoo_srv_port }}:8069"
    environment:
      - HOST={{ odoo_db_service_name }}
      - USER={{ odoo_db_user }}
      - PASSWORD={{ odoo_db_password }}
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    networks:
      - {{ odoo_network }}
  {{ odoo_db_service_name }}:
    container_name: {{ odoo_db_service_name }}
    image: {{ odoo_db_image }}
    ports:
      - "{{ odoo_db_srv_port }}:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD={{ odoo_db_password }}
      - POSTGRES_USER={{ odoo_db_user }}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
  networks:
      - {{ odoo_network }}


volumes:
  odoo-web-data:
  odoo-db-data:
networks:
  {{ odoo_network }}:
    driver: bridge 
    external: true
    name: {{ odoo_network }}